{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
<link href="assets/css/messages_chat_with_tabs.css" type="text/css" rel="stylesheet">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <div class="example-wrapper" style="color:white;">
        <h1>test</h1>

        <p >test mercure push de base chat :</p>
    </div>
    <section>
    <div class="container" style="background: rgb(52,52,57);">
<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Messagerie</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                
                <span class="input-group-addon">
                <button type="button"> <i class='fas fa-user-plus'></i> </button>
                </span> </div>
            </div>
          </div>
          <div class="inbox_chat">
          {% for amis in list_amis %}
          {% if amis.idUser == app.user %}
            <div class="chat_list" style="cursor: pointer;" id="{{amis.id}}" onclick="active('{{amis.id}}')">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>{{amis.idAmis.pseudo}} <span class="chat_date">date</span></h5>
                  <p>{{amis.idAmis.description}}</p>
                </div>
              </div>
            </div>
          {% endif %}
          {% if amis.idAmis == app.user %}
            <div class="chat_list" style="cursor: pointer;" id="{{amis.id}}" onclick="active('{{amis.id}}')">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>{{amis.idUser.pseudo}} <span class="chat_date">date</span></h5>
                  <p>{{amis.idUser.description}}</p>
                </div>
              </div>
            </div>
          {% endif %}
            
            
          {% endfor %}
            
          </div>
        </div>
        <div class="mesgs">
        {% set count = 0 %}
        {% for messagebox in list_amis %}
            <div class="msg_history" id="inbox-message-{{messagebox.id}}">
                
                {% for message in conversations %}
                {% if messagebox.idUser == message.userfirst or messagebox.idamis == message.userfirst %}
                {% if messagebox.idUser == message.usersecond or messagebox.idamis == message.usersecond %}
                  {% if  message.userfirst == app.user %}
                    <div class="incoming_msg">
                      <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                      <div class="received_msg">
                          <div class="received_withd_msg">
                          <p>{{message.message}}</p>
                          <span class="time_date"> {{ message.date|date('Y-m-d H:i:s')}}</span></div>
                      </div>
                    </div>
                  {% endif %}
                  {% if message.usersecond == app.user %}
                    <div class="outgoing_msg">
                        <div class="sent_msg">
                        <p>{{message.message}}</p>
                        <span class="time_date"> {{ message.date|date('Y-m-d H:i:s')}}</span> </div>
                    </div>
                  {% endif %}
                
                {% endif %}
                {% endif %}
                
                {% endfor %}
                </div>
                {% if messagebox.idUser == app.user %}
                  <div class="type_msg" id="form_msg_{{messagebox.id}}">
                  <form class="input_msg_write" id="form">
                    <input type="text" class="write_msg" placeholder="Type a message" id="message"/>
                    <button class="msg_send_btn" hrefs="" onclick="senddata('{{ messagebox.idamis.id }}')"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                  </form>
                </div>
                {% endif %}
                {% if messagebox.idamis == app.user %}
                  <div class="type_msg" id="form_msg_{{messagebox.id}}">
                <form class="input_msg_write" id="form ">
                  <input type="text" class="write_msg" placeholder="Type a message" id="message"/>
                  <button class="msg_send_btn" href="" onclick="senddata('{{ messagebox.idUser.id }}')"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                </form>
              </div>
                {% endif %}
            
            
        {% endfor %}
          
        </div>
      </div>
      
      
    </div>
    </div>
</section>

</div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        
        //active default premiere conv
        function active(id) {

          //get element by class if existe
          if(document.querySelector('.active_chat') != null){
            document.querySelector('.active_chat').classList.remove("active_chat");
          }
          var element = document.getElementById(id);
          element.classList.add("active_chat");
          var messagebox = document.getElementById("inbox-message-"+id);
          
          if(document.querySelector('.active') != null){
            document.querySelector('.active').classList.remove("active");
          }
          messagebox.classList.add("active");
          
          if(document.querySelector('.active_msg') != null){
            document.querySelector('.active_msg').classList.remove("active_msg");
          }
          var formmessagebox = document.getElementById("form_msg_"+id);
          
          formmessagebox.classList.add("active_msg");
        }
        //function submit
                
       
/*
        //creer la connection au serveur mercure
        const eventSource = new EventSource("{{ mercure('https://localhost/message/1')|escape('js') }}");
        eventSource.onmessage = event => {
            // Will be called every time an update is published by the server

            console.log(JSON.parse(event.data));
        }*/
    </script>
{% endblock %}


