{% extends 'base.html.twig' %}

{% block title %}Le grimoire du rôle play{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <section>
      <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 style="color: #ededed;">Top de la semaine</h2>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            {% set count = 0 %}
            {% for ressouce in ressources %}
            {% if count < 3 %}
              <div class="col-4">
                <div class="card" style="background: #212529;"><img class="card-img-top w-100 d-block fit-cover" style="height: 350px;" src="{{ ressouce.image }}" width="354" height="200">
                    <div class="card-body p-4" style="height: 120px;padding: 24px;padding-top: 0px;color: #212529;background: #212529;">
                        <p class="text-primary card-text mb-0" style="margin-top: -22px;margin-left: -14px;padding-left: 3px;"> {{ ressouce.category.name }} </p>
                        <h4 class="card-title" style="text-align: left;padding-bottom: 3px;padding-left: 20px;padding-top: 3px;margin-left: 34px;margin-bottom: 10px;margin-top: 0px;color: #ededed;"> {{ ressouce.titre }} </h4>
                        <div class="d-flex" style="margin-left: 0px;width: 105%;height: 46px;"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" style="margin-top:-17px;margin-bottom:-6px;margin-left:-13px;margin-right:0px;">
                            <div class="row" style="width: 95%;">
                                <div class="col-2" style="width: 70%;min-width: 150px;">
                                    <div>
                                        <p class="text-muted mb-0" style="margin-bottom:-4px;padding-top:0px;margin-top:-2px;color:var(--bs-body-bg);--bs-body-color:var(--bs-body-bg);"><span style="color: rgb(255, 255, 255);">{{ ressouce.user.pseudo }}</span></p>
                                    </div>
                                </div>
                                <div class="col" style="width: 15%;padding-right: 0px;padding-left: 0;">
                                    <p style="font-size:20px;margin-bottom:2px;margin-top:1px;padding-top:0px;color:#ededed;margin-left:3px;"> {{ ressouce.liker }} </p>
                                </div>
                                <div class="col" style="width: 15%;padding-right: 0;padding-left: 0;"><img src="/assets/img/heart.svg?h=65a678a1eb8f9eace638764dce91d2bf" style="height:34px;border-style:none;margin-left:1px;filter:invert(91%);"></div>
                            </div>
                            <div style="width: 13.3438px;display: grid;position: relative;transform: translate(142px);height: 54px;padding: 1px;padding-right: 24px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            {% else %}
            <div class="col"></div>
            {% endif %}
            
            {% set count = count + 1 %}
          {% endfor %}
              
        </div>
     </div>
    </section>
    <section style="height: 806.391px;" class="pb-lg-0 mb-lg-0 mb-xl-0 mt-xl-0">
        <div class="container" style="height: 799.391px;">
            <div class="row" style="height: 67.5938px;">
                <div class="col" style="height: 71.5938px;">
                    <h1 style="text-align: center;font-size: 28px;height: 33.5938px;color: #ededed;">Actualités</h1>
                </div>
            </div>
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col">
                    <div class="card" style="background: #212529;"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                        <div class="card-body p-4">
                            <h4 class="card-title" style="color: #ededed;">Lorem libero donec</h4>
                            <p class="card-text" style="color: #ededed;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                                <div>
                                    <p class="fw-bold mb-0" style="color: #ededed;">John Smith</p>
                                    <p style="color: #ededed;">Titre</p>
                                </div>
                                <p style="color: #ededed;padding-left: 70px;padding-top: 25px;">00/00/0000</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="background: #212529;"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                        <div class="card-body p-4">
                            <h4 class="card-title" style="color: #ededed;">Lorem libero donec</h4>
                            <p class="card-text" style="color: #ededed;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                                <div>
                                    <p class="fw-bold mb-0" style="color: #ededed;">John Smith</p>
                                    <p class="text-muted mb-0"></p>
                                    <p style="color: #ededed;">Titre</p>
                                </div>
                                <p style="color: #ededed;padding-left: 70px;padding-top: 25px;">00/00/0000</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="background: #212529;"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                        <div class="card-body p-4">
                            <h4 class="card-title" style="color: #ededed;">Lorem libero donec</h4>
                            <p class="card-text" style="color: #ededed;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                                <div>
                                    <p class="fw-bold mb-0" style="color: #ededed;">John Smith</p>
                                    <p style="color: #ededed;">Titre</p>
                                </div>
                                <p style="color: #ededed;padding-left: 70px;padding-top: 25px;">00/00/0000</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


