 <div class="row">
                    <div class="col" >
                        <div class="row"  style="text-align: left;">
                            <div class="col-2"></div>
                            <div class="col-3">
                                <p class="" style="color: var(--bs-body-bg);">{{ form_label(form.titre) }}</p>
                            </div>
                            <div class="col-6">
                                {{ form_widget(form.titre) }}
                            </div>
                        </div>   
                    </div>
                </div>
                <div class="row">
                    <div class="col" >
                        <div class="row"  style="text-align: left;">
                            <div class="col-2"></div>
                            <div class="col-3">
                        <p class="" style="color: var(--bs-body-bg);">{{ form_label(form.description) }}</p>
                        </div>
                        <div class="col-6">
                        {{ form_widget(form.description) }}
                        </div>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" >
                        <div class="row"  style="text-align: left;">
                            <div class="col-2"></div>
                            <div class="col-3">
                        <p class="" style="color: var(--bs-body-bg);">{{ form_label(form.category) }}</p>
                        </div>
                        <div class="col-6">
                        {{ form_widget(form.category) }}
                        </div>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" >
                        <div class="row"  style="text-align: left;">
                            <div class="col-2"></div>
                            <div class="col-3">
                        <p class="" style="color: var(--bs-body-bg);">{{ form_label(form.image) }}</p>
                        </div>
                        <div class="col-6">
                        {{ form_widget(form.image) }}
                        </div>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" >
                        <div class="row"  style="text-align: left;">
                            <div class="col-2"></div>
                            <div class="col-3">
                        <p class="" style="color: var(--bs-body-bg);">{{ form_label(form.private) }}</p>
                        </div>
                        <div class="col-6">
                        {{ form_widget(form.private) }}
                        </div>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" >
                        <div class="row"  style="text-align: left;">
                            <div class="col-2"></div>
                            <div class="col-3">
                        <p class="" style="color: var(--bs-body-bg);">{{ form_label(form.fichier) }}</p>
                        </div>
                        <div class="col-6">
                        {{ form_widget(form.fichier) }}
                        </div>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" >
                        <div class="row"  style="text-align: left;">
                            <div class="col-2"></div>
                            <div class="col-3">
                        <p class="" style="color: var(--bs-body-bg);">{{ form_label(form.status) }}</p>
                        </div>
                        <div class="col-6">
                        {{ form_widget(form.status) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col" style="text-align: center;"><button class="btn btn-primary" type="submit" style="background: rgb(6,133,18);border-style: none;margin-top: 20px;" >{{ button_label|default('Enregister') }}</button></div>
            </div>
{{ form_end(form) }}
            