{% extends 'base.html.twig' %}

{% block title %}Ressource{% endblock %}

{% block body %}
<section class="mb-5 pb-1" style="margin-top: 15px!important;" >
    <div class="container" >
        <div class="row" >
            <div class="col-xl-8"><img width="100" height="80" style="width: 720px;height: 720px;" src="{{ ressource.image }}"/></div>
            <div class="col">
            <div class="row">
                <h1 class="col-8" style="color: #ededed;font-size: 38px;">{{ ressource.titre }}</h1>
                <div class="col-2" style="width: 24px;height: 24px;margin-left: 93px;">
                    <a href="{{path('app_signalement_ressource_new', {'id': ressource.id})}} ">
                    <button class="btn btn-primary" type="button" style="height: 24px;width: 24px;background: url('/assets/img/exclamation-triangle-fill.svg');background-size: cover;border-style: none;filter: invert(91%);margin-top: 15px;margin-left: 0px;"></button></div>
                    </a>
                </div>
                <div style="background: #212529;border-radius: 8px;height: 468px;max-width: 356px;max-height: 468px;margin-bottom: 26px;">
                {% if ressource.description == null %}
                    <p style="color: #ededed;padding-left: 15px;padding-top: 5px;padding-right: 15px;max-width: 421px;overflow: visible;word-wrap: break-word;max-height: 461px;">Description</p>
                    {% else %}
                    <p style="color: #ededed;padding-left: 15px;padding-top: 5px;padding-right: 15px;max-width: 421px;overflow: visible;word-wrap: break-word;max-height: 461px;">{{ressource.description}} </p>
                {% endif %}
                    

                </div>
                <div style="margin-bottom: 25px;">
                    <div class="col-xl-2" style="width: 217px;">
                    <a class="btn btn-primary ms-md-2" role="button" href="#" style="background: url('{{ressource.user.profilImage}} ') no-repeat, #ededed;background-size: cover, auto;width: 55px;height: 55px;color: var(--bs-navbar-color);border-radius: 50px;padding-left: 6px;padding-top: 3px;padding-right: 4px;margin-top: 0px;margin-right: 10px;margin-left: 0px;border-width: 2px;border-color: #ededed;"></a><a href="#" style="color: #ededed;font-size: 24px;text-decoration: none;">{{ressource.user.pseudo}} </a></div>
                </div>
                {% if app.user %}
                    {% if ressource.fichier != null %}
                
                    <div><a href='{{ressource.fichier}}' download><button class="btn btn-primary" href='' type="button" style="background: #212529;color: var(--bs-btn-bg);border-style: none;height: 45px;font-size: 20px;border-radius: 8px;width: 125px;">Télécharger</button>
                    </a></div>
                {% endif %}
                {% endif %}
                
                
            </div>
        </div>
    </div>
</section>
{% endblock %}
