{{ form_start(form) }}
    <div class="row">
                    <div class="col" >
                        <div class="row"  style="text-align: left;">
                            <div class="col-2"></div>
                            <div class="col-3">
                                <p class="" style="color: var(--bs-body-bg);">{{ form_label(form.email) }}</p>
                            </div>
                            <div class="col-6">
                                {{ form_widget(form.email) }}
                            </div>
                        </div>   
                    </div>
                </div>
                <div class="row">
                    <div class="col" >
                        <div class="row"  style="text-align: left;">
                            <div class="col-2"></div>
                            <div class="col-3">
                        <p class="" style="color: var(--bs-body-bg);">{{ form_label(form.pseudo) }}</p>
                        </div>
                        <div class="col-6">
                        {{ form_widget(form.pseudo) }}
                        </div>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" >
                        <div class="row"  style="text-align: left;">
                            <div class="col-2"></div>
                            <div class="col-3">
                        <p class="" style="color: var(--bs-body-bg);">{{ form_label(form.description) }}</p>
                        </div>
                        <div class="col-6">
                        {{ form_widget(form.description) }}
                        </div>
                    </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col" >
                        <div class="row"  style="text-align: left;">
                            <div class="col-2"></div>
                            <div class="col-3">
                        <p class="" style="color: var(--bs-body-bg);">{{ form_label(form.profil_image) }}</p>
                        </div>
                        <div class="col-6">
                        {{ form_widget(form.profil_image, {'value': '{{user.id.profil_image}}'}) }}
                        </div>
                    </div>
                    </div>
                </div>
                
            <div class="row">
                <div class="col" style="text-align: center;"><button class="btn btn-primary" type="submit" style="background: rgb(6,133,18);border-style: none;margin-top: 20px;" >{{ button_label|default('Enregister') }}</button></div>
            </div>
{{ form_end(form) }}
