{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}
<link rel="stylesheet" href="/assets/css/searchbar.css">
<header>
    <div class="container">
        <div class="row" style="height: 100px;margin: 0px;width: initial;">
            <div class="col" style="height: 100px;width: 992px;">
                <div class="div-search">
                <button class="btn btn-primary" type="button" style="color: #ededed;background: #212529;border-color: #212529;width: 200px;height: 50px;margin-right: 60px;margin-top: -5px;">RÉGLE DU FORUM ICI</button>
                <img src="/assets/img/search.svg" class="img-search" /><input type="search" class="barre-search" id="searchBox" onkeyup="searchFunction()" onblur="cleanbar()" onfocus="activebar()" "Search.."/>
                <ul id="myUL" class="z-index-2 position-relative">
                {% for forum in forums %}
                    <li><a class="searchable z-index-3" href="{{ path('app_forum_show', {'id': forum.id}) }}">{{ forum.titre }}</a></li>
                {% endfor %}
                </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<section>

    <div class="col" style="text-align: center;">
        <div style="height: 79px;margin: 18px;margin-bottom: -4px;">
            <h1 style="margin: -14px;color: #ededed;text-align: center;margin-top: -14px;">DERNIER POST</h1>
        </div>
        {% for forume in forums %}
            
            <div class="card"  style="background: #212529;height: 110px;text-align: center;margin: auto;width: 969px; margin-bottom : 10px" href="{{ path('app_forum_show', {'id': forume.id}) }}">
                <div class="card-body" style="height: 110px;text-align: center;">
                    <div class="row" style="height: 90px;">
                        <div class="col-xl-2" style="width: 75px;height: 75px;margin-right: 10px;">
                            <div style="height: 75px;padding-right: 0px;margin-right: 0px;width: 75px;">
                            {% if forume.user.profilImage != null %}
                                    <img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="75" height="75" src="{{forume.user.profilImage}}" style="margin-top: 0;margin-bottom: 0;margin-left: 0;margin-right: 0;height: 75px;width: 75px;" />
                                    {% else %}
                                    <img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="75" height="75" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" style="margin-top: 0;margin-bottom: 0;margin-left: 0;margin-right: 0;height: 75px;width: 75px;" />
                                {% endif %}
                            </div>
                        </div>
                        <div class="col" style="height: 75px;">
                            <div class="d-flex" style="margin-left: 0px;width: 105%;height: 46px;">
                                <div class="row" style="width: 95%;height: 75px;">
                                    <div class="col-2 col-xl-9 text-truncate" style="width: 70%;height: 75px;" >
                                        <div class="" style="color : white; float: left;">
                                            <p class="fw-bold mb-0" style="margin-bottom: 0px;margin-top: 0px;color: #ededed;margin-left: 6px;font-size: 24px;text-align: left;"><a class="link-card" href="{{ path('app_forum_show', {'id': forume.id}) }}">{{ forume.titre }}</a></p>
                                            <p class="text-muted mb-0" style="margin-bottom: 0;padding-top: 0px;margin-top: 0;color: var(--bs-body-bg);--bs-body-color: var(--bs-body-bg);margin-left: 6px;text-align: left;"><span class="text-editer " style="color: rgb(255, 255, 255);">{{ forume.description | raw }}</span></p>
                                        </div>
                                    </div>
                                    <div class="col-xl-2" style="width: 15%;padding-right: 0px;padding-left: 0;">
                                        <p style="color: #ededed;text-align: right;margin-left: 1px;margin-right: -31px;">{{ forume.user.pseudo }}</p>
                                        <p style="font-size: 20px;margin-bottom: 0;margin-top: 0;color: #ededed;margin-left: 0px;text-align: right;padding-top: 7px;padding-left: 0px;padding-right: 0px;margin-right: -104px;" id="num-{{forume.id}}">{{ forume.liker }}</p>
                                    </div>
                                    <div class="col" style="width: 15%;padding-right: 0;padding-left: 0;">
                                        <p style="color: #ededed;text-align: right;">{{ forume.dateCrea ? forume.dateCrea|date('Y-m-d') : '' }}</p>
                                        {% set likefull = false %}
                                {% for likerforum in likerforums %}
                                    {% if likerforum.forum == forume and likerforum.user == app.user%}
                                        {% set likefull = true %}
                                        {% if likerforum.liker == 1 %}
                                            <a class="update" style="position: relative; z-index:1000;" data-ressource="{{forume.id}}">
                                                <img src="/assets/img/heart-fill.svg" id="img-{{forume.id}}"  style="height:34px;border-style:none;margin-left:1px;filter:invert(91%); position: relative;z-index: -1000;">
                                            </a>
                                            {% else %}
                                            <a class="update" style="position: relative; z-index:1000;" data-ressource="{{forume.id}}">
                                                <img  src="/assets/img/heart.svg" id="img-{{forume.id}}"  style="height:34px;border-style:none;margin-left:1px;filter:invert(91%); position: relative;z-index: -1000;">
                                            </a>
                                        {% endif %}  
                                    {% endif %}

                                {% else %}
                                {% endfor %}
                                    {% if likefull == false  %}
                                            <a class="newliker" style="position: relative; z-index:1000;" data-ressource="{{forume.id}}">
                                                <img  src="/assets/img/heart.svg" id="img-{{forume.id}}"  style="height:34px;border-style:none;margin-left:1px;filter:invert(91%); position: relative;z-index: -1000;">
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            {% else %}
            {% endfor %}
        

    </div>
    </section>
    <section style="min-height: 600px;">
    {{ include('forum/_form.html.twig') }}
    </section>
    <script>
        var elements2 = document.getElementsByClassName("update");
            update = function() {
            var id = event.target.getAttribute('data-ressource');
            var imgsrc = document.getElementById('img-'+id).src;
            number = document.getElementById('num-'+id).innerHTML;
            
            //condition pour l'url
            if (imgsrc == "{{ url('app_home')}}"+"assets/img/heart.svg"){
                var url = "{{ url('app_liker_updateliker')}}"+"?idforum="+id+"&update=1";
                console.log(url);
                //convert string to int 
                number2 = parseInt(number, 10)+1;
                document.getElementById('num-'+id).innerHTML = number2.toString();
                document.getElementById('img-'+id).src = '/assets/img/heart-fill.svg';
            } else {
                var url = "{{ url('app_liker_updateliker')}}"+"?idforum="+id+"&update=0";
                console.log(url);
                number2 = parseInt(number, 10)-1;
                document.getElementById('num-'+id).innerHTML = number2.toString();
                document.getElementById('img-'+id).src = '/assets/img/heart.svg';
            }
            
            //condition par rapport al la value
            const req = new XMLHttpRequest();
            req.open("GET", url);
            req.send();

            
        };
        Array.from(elements2).forEach(function(element) {
            element.addEventListener('click', update);
        });
        var elements = document.getElementsByClassName("newliker");
        console.log(elements);
            function newliker() {
            var id = event.target.getAttribute('data-ressource');
            var url =  "{{ url('app_likerforum_newliker') }}"+"?idforum="+id;
            console.log(url);
            const req = new XMLHttpRequest();
            req.open("GET", url);
            req.send();

            //changer le src img
            document.getElementById('img-'+id).src = '/assets/img/heart-fill.svg';
            //compteur +1 sauf si compteur trop grand
            number = document.getElementById('num-'+id).innerHTML;
            //convert string to int 
            number2 = parseInt(number, 10)+1;
            document.getElementById('num-'+id).innerHTML = number2.toString();
            //changer le onclick class event
            this.classList.remove("newliker");
            this.classList.add("update");
        };
        Array.from(elements).forEach(function(element) {
            element.addEventListener('click', newliker);
        });
    
        function activebar() {
            if(document.getElementById("searchBox").value==''){
                console.log("ok2");
                document.getElementById("myUL").style.display = "block";
            }
        }
        function cleanbar() {
            console.log(document.getElementById("searchBox").value);
            if(document.getElementById("searchBox").value==''){
                console.log("ok");
                document.getElementById("myUL").style.display = "none";
            }
        }
        function searchFunction() {
            let input = document.getElementById('searchBox').value;
            input=input.toLowerCase();
            let x = document.getElementsByClassName('searchable');

            for (i = 0; i < x.length; i++) {
                if (!x[i].innerHTML.toLowerCase().includes(input)) {
                
                    x[i].style.display="none";
                    //disply list

                
                }
                else {
                x[i].style.display="list-item";    
                }
            }
        }
    </script>
{% endblock %}
